* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  background-color: #F5F5F3;
}

.side-bar {
  background-color: #1F2A2E; 
  width: 300px;
  height: 100dvh;
  color: #E6ECEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-box {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

.main-header {
  width: 100%;
  background-color: #FFFFFF;
  padding-block: 5px;
  padding-inline: 50px;
  box-shadow: 0px 6px 10px RGB(0, 0, 0, 0.4);
}

.content-box {
  padding-block: 30px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: minmax(250px, auto) 250px;
  gap: 20px;
  color: #1A1A1A;
}