* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-color: #E6ECEF #1F2A2E;
  scrollbar-width: auto;
}

body {
  overflow: hidden;
  display: flex;
  background-color: #F5F5F3;
}

.side-bar-box {
  color: #E6ECEF;
  width: max-content;
  height: max-content;
}

.main-box {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  scrollbar-color: #E6ECEF #1F2A2E;
  scrollbar-width: auto;
}

.main-header {
  width: 100%;
  background-color: #FFFFFF;
  padding-block: 5px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  box-shadow: 0px 6px 10px RGB(0, 0, 0, 0.4);
}

.content-box {
  padding-block: 30px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: minmax(250px, auto) 250px;
  gap: 20px;
  color: #1A1A1A;
}